.newsletter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: auto;
    margin-top: 2.5rem;
    position: absolute;
    left: 48rem;
    max-width: 400px;
}
.newsletter-container p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 1.1rem;
}
.newsletter-form {
    margin-top: 1.5rem;
}
.newsletter-form input, .newsletter-form button {
    font-size: 20px;
    border: none;
    padding: 0.5rem;
}