.login-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-navbar {
    width: 100%;
    height: 60px;
    /*background: #000;*/
}
.login-content {
    padding: 6rem;
    display: flex;
    flex-direction: row;
    gap: 6rem;
}
.login-form {
    width: 100%;
    height: 514px;
    background: #00ffaf;
}
.register {
    width: 100%;
    height: 935px;
    background: #888888;
}
.login-footer {
    width: 100%;
    height: 549px;
    background: #535bf2;
}