.community-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: auto;
    margin-top: 2.5rem;
}
.community-links a {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}