.focus-container {
    width: 100%;
    height: auto;
    padding: 3rem 2rem;
    position: relative;
}
.focus-header {
    position: absolute;
    left: 6.75rem;
    top: 0;
}
.focus-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 4.5rem;
    margin-top: 2.5rem;
}
.focus-content img {
    width: 310px;
    height: 180px;
}
.focus-content-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    width: 300px;
    height: auto;
}
.focus-content-card a {
    text-decoration: none;
    color: black;
}
.focus-content-card h4 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    min-height: 48px;
}
.card-tag {
    width: 90px;
    height: auto;
    text-align: center;
    padding: 3px;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}