.locations-selection select, .locations-selection option {
    font-size: 14px;
    border: none;
    padding: 0.3rem;
    width: 180px;
    height: 2rem;
    background-color: #eeeeee;
}
.locations-selection {
    margin-left: 0.4rem;
}