.more_than-pics-container {
    position: relative;
}
.more_than-pics-background {
    position: absolute;
    left: -6rem;
    width: 746px;
    height: 960px;
    background-color: #B6FFC0;
    z-index: 2;
}
.more_than-pics-small img {
    width: 426px;
    height: 320px;
    z-index: 3;
    position: absolute;
    top: 13rem;
    left: 40rem;
}
.more_than-pics-large img {
    width: 533px;
    height: 533px;
    z-index: 3;
    position: absolute;
    top: 6rem;
}