.passionate-text-container {
    padding: 7rem 14rem;
}
.passionate-text-header{
    font-size: 25px;
    font-weight: bold;
}
.passionate-text-desc-one{
    font-size: 20px;
    margin-top: 21px;
}
.passionate-text-desc-two{
    font-size: 20px;
    margin-top: 21px;
}